<div class="row">

    <div id="densityContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="distributionContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="gistogramContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div class="row">
        <div class="col s4">
            Mx: = {{Mx}}
            <br/>
            Dx: = {{Dx}}
        </div>
        <div class="col s4">
            M*x: = {{Mxx}}
            <br/>
            D*x: = {{Dxx}}
        </div>
        <div class="col s4">
            |M(X)-M*(x)| = {{MxMxx}}
            <br/>
            |D(X)-D*(x)| = {{DxDxx}}
        </div>
    </div>
</div>